<script>
const images = [
    'url("../assets/background1.jpg")',
    'url("../assets/background2.jpg")',
    'url("../assets/background3.jpg")',
    'url("../assets/background4.jpg")'
]

function randImage()
{
    const randomIndex = Math.floor(Math.random()*images.length);
    document.body.style.backgroundImage=images[randomIndex];
}

window.onload = randImage();
</script>
<div class="container">

  <h1>Welcome to BlightBuster</h1>
  <p>Your tool for reporting blight issues in Memphis.</p>
  <a href="<%= new_report_path %>" class="btn btn-primary">Report an Issue</a>
  <a href="<%= reports_path %>" class="btn btn-secondary">Track Status</a>
  <link rel="stylesheet"href="styles.css">
  <body>
    <script src="backgroundShuffle.js"></script>
  </body>

</div>

