<div class="container">

  <h1>Welcome to BlightBuster</h1>
  <p>Your tool for reporting blight issues in Memphis.</p>
  <a href="<%= new_report_path %>" class="btn btn-primary">Report an Issue</a>
  <a href="<%= reports_path %>" class="btn btn-secondary">Track Status</a>
  <link rel="stylesheet"href="styles.css">
  <body>
    <script src="backgroundShuffle.js"></script>
  </body>

</div>

